header .navbar-default {
  background-color: #333 !important;
  border: none;
}
header .navbar-default .navbar-nav > li > a,
header .navbar-default .navbar-brand {
  color: #fff !important;
  letter-spacing: .04em;
  font-weight: 400;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-brand:hover {
  color: #3498db !important;
  letter-spacing: .04em;
}
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #555 !important;
}
header #header-clock {
  color: #fff;
  margin: 11px 11px 0 0;
  letter-spacing: .04em;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
header .dropdown-menu a:hover {
  border-bottom: none;
  color: #fff !important;
  background-color: #666 !important;
}
header .dropdown-help {
  display: none !important;
}
header form[role="search"] {
  display: none !important;
}
header li.user-progress .progress {
  display: none !important;
}
header .avatar-small {
  display: none;
}
header .navbar-new-comments {
  border-radius: 0 !important;
}

#page-desktop {
  background-color: #333 !important;
}
#page-desktop .app-icon .inner,
#page-desktop .app-icon i {
  color: #E0E0E0 !important;
  font-size: 1.3em;
}
#page-desktop .app-icon {
  padding: 40px;
  display: inline-block;
  margin: auto;
  text-align: center;
  border-radius: 0 !important;
  cursor: pointer;
  font-size: 3.2em;
  box-shadow: none;
  min-width: 100%;
}
#page-desktop #icon-grid {
  padding-top: 0 !important;
}
#page-desktop .case-label-text {
  letter-spacing: 0.08em !important;
  text-shadow: none !important;
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
}
#page-desktop .case-wrapper {
  margin: 40px !important;
}
#page-desktop .module-body .section-head {
  text-align: center !important;
  font-weight: 100 !important;
  font-size: 12px;
  color: #fff !important;
  background-color: #333 !important;
  padding: 5px !important;
  letter-spacing: 2px;
}

/* Default to one column, hide first column on load */
.layout-side-section {
  display: none;
}
.page-container {
  background-color: #F8F8F8;
}
.layout-main-section {
  background-color: #fff;
}
.page-form {
  background-color: #eee !important;
}
.form-inner-toolbar {
  background-color: #eee !important;
}
.timeline-head .comment-input-header {
  background-color: #eee !important;
  padding: 20px 15px !important;
}
a.badge-link.small {
  width: 150px !important;
  display: inline-block !important;
}
.form-links .count {
  width: 30px !important;
  text-align: right;
}
.editable-title .title-text {
  padding: 0 15px;
}
.editable-title .title-text:hover {
  background-color: #E8E8E8;
}
.form-sidebar .sidebar-image-section .standard-image {
  border-radius: 0 !important;
}
.file-upload .uploaded-filename {
  border-radius: 0 !important;
}
.progress {
  box-shadow: none !important;
  border-radius: 0 !important;
}
.progress-bar {
  background-color: #34bfa3 !important;
}

.layout-side-section .nav > li > a:hover,
.nav > li > a:focus {
  background-color: #ddd;
}
.module-body .section-head {
  margin-bottom: 15px;
  margin-top: 0px;
  background-color: #333;
  padding: 5px 30px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  letter-spacing: .1em;
}
.module-section:nth-child(even) {
  background-color: #F5F5F5;
}
.module-section a {
  color: black;
  letter-spacing: .04em;
}
.module-sidebar-nav a.active {
  color: #fff !important;
  background-color: #333 !important;
  border-radius: 0;
  display: block;
  letter-spacing: .04em;
}
.module-sidebar-nav a.hover {
  background-color: red !important;
}

.form-control {
  border-radius: 0;
  transition: border-color 0.5s ease-out;
}
.form-control.bold {
  border-left-color: #DC143C;
  background-color: #fff;
}
.input-with-feedback {
  background-color: #fff;
}
.like-disabled-input {
  border-radius: 0;
  background-color: #eee;
}
.awesomplete > ul > li .link-option {
  font-weight: normal;
  color: #000;
}

.nav-pills > li > a {
  border-radius: 0 !important;
}
.btn-primary {
  background-color: #34bfa3;
  border: 0 !important;
}
.btn-primary:hover {
  background-color: #299781 !important;
}
.btn-primary:active {
  background-color: #299781 !important;
}
.btn-primary:focus {
  background-color: #299781 !important;
  border: 0 !important;
}
.btn-default {
  border: none;
  background-color: #eee !important;
}
.btn-default:hover {
  background-color: #d5d5d5 !important;
}
.btn-sm,
.btn-group-sm > .btn {
  border-radius: 0px;
}
.btn-xs,
.btn-group-xs > .btn {
  border-radius: 0;
}
.page-actions {
  padding-top: 11px !important;
  padding-bottom: 17px !important;
}
.page-head .btn-sm {
  line-height: 1.5;
  font-size: 1.5em;
}
.page-actions .btn {
  padding: 8px 30px;
}
.form-inner-toolbar .btn.btn-default {
  background-color: #ccc !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.awesomplete > ul > li:hover {
  background-color: #ccc !important;
}
.awesomplete > ul > li[aria-selected=true] {
  background-color: #eee !important;
}
.filter-list button.add-filter {
  padding: 5px 15px;
}
.active-tag-filters .btn.toggle-filter,
.active-tag-filters .btn.remove-filter {
  padding: 3px 13px;
}
.list-paging-area .btn.btn-paging.btn-info {
  color: #34bfa3 !important;
}
.form-inner-toolbar .btn-default,
.btn-comment {
  padding: 5px 25px;
}

.list-row-head.text-muted {
  color: #333 !important;
}
.form-grid {
  border-radius: 0px;
}
.data-table .data-table-header {
  background-color: #F5F5F5 !important;
  color: #000 !important;
  font-weight: 400;
  font-size: 1em;
}
.editable-form .grid-static-col.bold {
  background-color: #F8F8F8;
}
.grid-heading-row {
  background-color: #eee;
  font-size: 12px;
  color: #000;
}
.row-index {
  text-align: center;
}

.modal-body .web-link-wrapper {
  display: none !important;
}

.list-row-head,
.list-item--head {
  background-color: #eee !important;
}
.list-item-table {
  border-radius: 0 !important;
}
.list-row:hover {
  background-color: #F8F8F8 !important;
}


body[data-route="point-of-sale"] .layout-main-section {
  border: none !important;
  border-top: 0px;
}
body[data-route="point-of-sale"] .image-view-header {
  width: 100px !important;
  max-height: 50px !important;
  min-height: 50px !important;
  text-overflow: ellipsis !important;
}
body[data-route="point-of-sale"] .pos {
  padding: 5px 0 0 0 !important;
}
body[data-route="point-of-sale"] .list-item--head {
  background-color: #eee;
}
body[data-route="point-of-sale"] .list-item__content.text-muted {
  color: #000 !important;
}
body[data-route="point-of-sale"] .num-col.brand-primary {
  background-color: #34bfa3 !important;
  color: #ffffff;
}
@media (min-width: 500px) {
  body[data-route="point-of-sale"] .container {
    width: 100% !important;
  }
}
