
/*
 *	/home/frappe/frappe-bench/apps/custom_styles/custom_styles/public/css/desk.css
 */

#page-desktop {
    background-color: #999 !important;
}


.app-icon .inner, .app-icon i {
	color: #333 !important;

}

.app-icon {
    padding: 20px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 0 !important;
    cursor: pointer;
}
/*
 *	/home/frappe/frappe-bench/apps/custom_styles/custom_styles/public/css/modules.css
 */
.module-body .section-head {
    text-align: center !important;
    font-weight: 100 !important;
    font-size: 12px;
    color: #fff !important;
    background-color: #333 !important;
    padding: 5px !important;
    letter-spacing: 2px;
}
/*
 *	/home/frappe/frappe-bench/apps/custom_styles/custom_styles/public/css/header.css
 */

.dropdown-help {
	display:none !important;
}

form[role="search"] {
    display: none;
}