

@green-button:        #34bfa3;
@green-button-hover:  darken(@green-button, 10%);

@default-button: 	  #eee;
@default-button-hover: darken(@default-button, 10%);

.nav-pills > li > a {
    border-radius: 0 !important;
}

.btn-primary {
	background-color: @green-button;
	border:0 !important;
}

.btn-primary:hover {
	background-color:@green-button-hover !important;
}

.btn-primary:active {
	background-color:@green-button-hover !important;
}

.btn-primary:focus {
	background-color:@green-button-hover !important;
	border:0 !important;
}

.btn-default {
	border:none;
	background-color:#eee !important;
}

.btn-default:hover {
	background-color: @default-button-hover !important;
}

.btn-sm, .btn-group-sm > .btn {
	border-radius:0px;
}

.btn-xs, .btn-group-xs > .btn {
    border-radius: 0;
}

.page-actions {
    padding-top: 11px !important;
	padding-bottom: 17px !important;
}

.page-head .btn-sm {
    line-height: 1.5;
    font-size: 1.5em;
}

.page-actions .btn {
	padding:8px 30px;	
}

.form-inner-toolbar .btn.btn-default {
	background-color:#ccc !important;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.awesomplete > ul > li:hover {
	background-color:#ccc !important;
}

.awesomplete > ul > li[aria-selected=true] {
	background-color:#eee !important;
}



.filter-list button.add-filter {
	padding:5px 15px;	
}

.active-tag-filters .btn.toggle-filter, 
.active-tag-filters .btn.remove-filter {
	padding:3px 13px;
}

.active-tag-filters .btn.remove-filter:hover {
	background-color: #dc3545 !important;
}

.active-tag-filters .btn.remove-filter:hover i {
	color:#000 !important;
}

.list-paging-area .btn.btn-paging.btn-info {
	color:@green-button !important;
}


.form-inner-toolbar .btn-default,
.form-inner-toolbar .btn-primary, .btn-comment {
	
	padding:5px 25px;
}

.no-result .msg-box .btn-new-doc {
	padding:10px 25px !important;
}
