

.list-row-head.text-muted {
	color:#333 !important;
}

.form-grid {
	border-radius:0px;	
	
}

.data-table .data-table-header {
    background-color: #F5F5F5 !important;
    color: #000 !important;
    font-weight: 400;
    font-size: 1em;
} 

.editable-form .grid-static-col.bold {
	background-color:#F8F8F8;
}

.grid-heading-row {
    background-color: #eee;
    font-size: 12px;
    color:#000;
}

.row-index {
	text-align:center;
 }
	
 