
header {
	
	.navbar-default {
 	   	background-color: #333 !important;
		border:none;
	}
	
	
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
		color: #fff !important;
    		letter-spacing: .04em;
    		font-weight: 400;
	}
	
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
		color: #fd7e14 !important;
    		letter-spacing: .04em;
	}
	
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    		color: #555;
    		background-color: #555 !important;
	}
	
		
	.dropdown-menu a:hover {
    		border-bottom: none;
    		color: #fff !important;
    		background-color:#333 !important;
	}

	.dropdown-help {
		display:none !important;
	}
	
	form[role="search"] {
	    display: none !important;
	}
	
	li.user-progress .progress {
		display:none !important;
	}
	
}