
/* Default to one column, hide first column on load */

.layout-side-section {
	display:none;
}






.page-form {
    background-color: #eee !important;
}

.form-inner-toolbar {
    background-color: #eee !important;
}

.timeline-head .comment-input-header {
	background-color: #eee !important;
	padding:20px 15px !important;
}

a.badge-link.small {
    width: 80px !important;
    display: inline-block !important;
}

.form-links .count {
	width:30px !important;
	text-align:right;
}


.editable-title .title-text {
    padding:0 15px;
}

.editable-title .title-text:hover {
    background-color: #E8E8E8;
}

.form-sidebar .sidebar-image-section .standard-image {
	border-radius:0 !important;
}